.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.mat-mdc-card-content p{
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: large;
}
.mdc-card__actions{
  justify-content: center;
}
.mat-mdc-card{
  background-color: white;
}
.mdc-button{
  font-size: large;
}
